# 1. Problem Statement

Rossmann is a European drug distributor which operates over 3,000 drug stores across seven European countries. Since a lot of drugs come with a short shelf life, that is, they do not have a long expiry date, it becomes imperative for Rossmann to accurately forecast sales at their individual stores. Currently, the forecasting is taken care of by the store managers who are tasked with forecasting daily sales for the next six weeks.

Since the company is just embarking on this project, the scope has been kept to nine key stores across Europe. The stores are key for the company keeping in mind the revenue and historical prestige associated with them. These stores are numbered - 1,3,8,9,13,25,29,31 and 46.

# 2. Reading and Understanding the Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv("train.csv")
stores = pd.read_csv("store.csv")

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10348\2151903664.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv("train.csv")

In [3]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  object
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: int64(7), object(2)
memory usage: 69.8+ MB

In [5]:
stores

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [6]:
train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [7]:
# Merging stores dataframe into train dataframe
df = train.merge(stores, on = "Store", how = "left")

In [8]:
df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1017205,1112,2,2013-01-01,0,0,0,0,a,1,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1017206,1113,2,2013-01-01,0,0,0,0,a,1,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1017207,1114,2,2013-01-01,0,0,0,0,a,1,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1017208,1115,2,2013-01-01,0,0,0,0,a,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

# 3. Data cleaning

## 3.1. Convert data format

In [9]:
# Column "StateHoliday" have mixed datatypes with both numerical 0 and string "0"
# a = public holiday, b = Easter holiday, c = Christmas, 0 = None
df['StateHoliday'].value_counts()

0    855087
0    131072
a     20260
b      6690
c      4100
Name: StateHoliday, dtype: int64

In [10]:
# StateHoliday will be turned into binary variable to keep it simple:
df['StateHoliday'].replace(['a','b','c'], 1, inplace = True)
df['StateHoliday'].replace("0",0, inplace = True)

In [11]:
# Convert column "Date" into datetime datadtype
df['Date'] =  pd.to_datetime(df['Date'], infer_datetime_format=True)

In [12]:
print(df["Date"].min())
print(df["Date"].max())

2013-01-01 00:00:00
2015-07-31 00:00:00

In [15]:
# Extract year, month from Date column for further EDA:
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month

## 3.2. Filter data for 9 key stores only

Since the company is just embarking on this project, the scope has been kept to nine key stores across Europe. The stores are key for the company keeping in mind the revenue and historical prestige associated with them. These stores are numbered - 1,3,8,9,13,25,29,31 and 46.

In [19]:
key_stores = [1,3,8,9,13,25,29,31,46]

In [20]:
df = df[df["Store"].isin(key_stores)]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8110 entries, 0 to 1016140
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      8110 non-null   int64
 1   DayOfWeek                  8110 non-null   int64
 2   Date                       8110 non-null   datetime64[ns]
 3   Sales                      8110 non-null   int64
 4   Customers                  8110 non-null   int64
 5   Open                       8110 non-null   int64
 6   Promo                      8110 non-null   int64
 7   StateHoliday               8110 non-null   int64
 8   SchoolHoliday              8110 non-null   int64
 9   StoreType                  8110 non-null   object
 10  Assortment                 8110 non-null   object
 11  CompetitionDistance        8110 non-null   float64
 12  CompetitionOpenSinceMonth  6410 non-null   float64
 13  CompetitionOpenSinceYear   6410 non-null   float64
 14  Promo2                     8110 non-null   int64
 15  Promo2SinceWeek            2458 non-null   float64
 16  Promo2SinceYear            2458 non-null   float64
 17  PromoInterval              2458 non-null   object
 18  Year                       8110 non-null   int64
 19  Month                      8110 non-null   int64
 20  Week                       8110 non-null   UInt32
dtypes: UInt32(1), datetime64[ns](1), float64(5), int64(11), object(3)
memory usage: 1.3+ MB

## 3.3. Treating missing values

In [22]:
df.isna().sum()

Store                           0
DayOfWeek                       0
Date                            0
Sales                           0
Customers                       0
Open                            0
Promo                           0
StateHoliday                    0
SchoolHoliday                   0
StoreType                       0
Assortment                      0
CompetitionDistance             0
CompetitionOpenSinceMonth    1700
CompetitionOpenSinceYear     1700
Promo2                          0
Promo2SinceWeek              5652
Promo2SinceYear              5652
PromoInterval                5652
Year                            0
Month                           0
Week                            0
dtype: int64

In [27]:
# Although there are no missing values in CompetitionDistance, there are some missing values in CompetitionOpenSinceMonth and SinceYear.
# We will replace these missing values with the median in the store dataframe:
df.loc[df['CompetitionOpenSinceMonth'].isna(),'CompetitionOpenSinceMonth'] = stores['CompetitionOpenSinceMonth'].median()
df.loc[df['CompetitionOpenSinceYear'].isna(),'CompetitionOpenSinceYear'] = stores['CompetitionOpenSinceYear'].median()

In [31]:
# Because some stores do not participate in promo2, there should be some missing values in Promo2SinceWeek and SinceYear
# We will replace these missing value with 0 and NA:
df.loc[df['Promo2SinceWeek'].isna(),'Promo2SinceWeek'] = 0
df.loc[df['Promo2SinceYear'].isna(),'Promo2SinceYear'] = 0
df.loc[df['PromoInterval'].isna(),'PromoInterval'] = "NA"

# 4. Exploratory data analysis

# 5. Model building

# 6. Conclusion